{% extends 'base.html.twig' %}

{% block body %}
    <div class="p-6 max-sm:pt-2 max-lg:h-fit">

        {% include 'partials/header.html.twig' %}

        <div class="h-5/6 flex flex-col justify-center max-lg:h-full pt-6">
            <div class="container mx-auto flex flex-wrap flex-col md:flex-row items-center h-full mb-2 md:mb-8">
                <!-- Colonne de gauche -->
                <div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden h-full">
                    <h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left">
                        Hello {{ app.user.username }}!
                    </h1>
                    <p class="leading-normal text-base md:text-2xl text-center md:text-left mb-3 md:mb-0">
                        <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500 font-bold">Go Swap</span>: Swap, unlock & complete.
                    </p>
                </div>

                <!-- Formulaire à droite, centré verticalement -->
                <div class="flex w-full xl:w-3/5 items-center justify-center md:justify-end h-full text-xs">
                    <div class="flex items-center justify-center h-full">
                        {{ form_start(form, {'attr': {'class': 'flex items-center form-submission'}}) }}
                            {{ form_widget(form.picture, {'attr': {'class': 'border-gray-300 p-2 max-w-[200px]'}}) }}
                            <button type="submit" class="ml-4 bg-gradient-to-r {{ random_button() }} text-white font-bold py-2 px-4 rounded">
                                Upload
                            </button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

            <!-- Section des cartes Pokedex -->
            <div class="container pt-4 md:pt-2 mx-auto grid grid-cols-1 lg:grid-cols-3 lg:grid-rows-2 gap-5">
                {% for dex in pokedexs %}
                    {% include 'app/pokedex-card.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'partials/modal-loading.html.twig' %}

    {% if submitted %}
        {% include 'partials/modal-result.html.twig' %}
    {% endif %}
{% endblock %}
