{% extends 'base.html.twig' %}

{% block body %}
    <div class="h-full p-6 max-sm:pt-2 max-lg:h-fit">
        {% include 'partials/header.html.twig' %}
        <div class="w-1/2 flex flex-col m-auto max-sm:mb-2 mb-4 max-lg:w-full ">
            {% if app.request.get('id') %}
                <h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center">
                    {{ pokedexUsername.username }}'s Pokédex
                </h1>
            {% else %}
                <h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center">
                    Your Pokédex
                </h1>
            {% endif %}
            <input placeholder="Search for a pokemon..." type="text" autofocus autocomplete="off" spellcheck="false"
                   class="w-full shadow appearance-none border rounded p-3 text-gray-700 leading-tight mb-4 "
                   id="search"
            >
        </div>

        <div class="flex flex-row justify-center items-center gap-10 mb-6 max-sm:mb-4 max-lg:gap-4 max-lg:mx-auto max-lg:items-stretch"
             id="filters">
            <button id="normal"
                    class="bg-gradient-to-r text-white py-2 max-sm:py-2 px-6 max-sm:px-2 rounded border-white {% if app.request.get('type') == 'normal' or app.request.get('type') == '' %}bg-gradient-to-r from-pink-400 to-purple-600 active-filter{% else %}bg-slate-700{% endif %}">
                Normal
            </button>
            <button id="shiny"
                    class="bg-gradient-to-r text-white py-2 max-sm:py-2 px-6 max-sm:px-2 rounded border-white {% if app.request.get('type') == 'shiny' %}bg-gradient-to-r from-pink-400 to-purple-600 active-filter{% else %}bg-slate-700{% endif %}">
                Shiny
            </button>
            <button id="lucky"
                    class="bg-gradient-to-r text-white py-2 max-sm:py-2 px-6 max-sm:px-2 rounded border-white {% if app.request.get('type') == 'lucky' %}bg-gradient-to-r from-pink-400 to-purple-600 active-filter{% else %}bg-slate-700{% endif %}">
                Lucky
            </button>
            <button id="threeStars"
                    class="bg-gradient-to-r text-white py-2 max-sm:py-2 px-6 max-sm:px-2 rounded border-white {% if app.request.get('type') == 'threeStars' %}bg-gradient-to-r from-pink-400 to-purple-600 active-filter{% else %}bg-slate-700{% endif %}">
                3 Stars
            </button>
        </div>

        <div class="flex justify-center gap-10 items-center" id="filters">
            <label for="hide-caught" class="text-white">
                <input type="checkbox" id="hide-caught">
                Hide captured
            </label>
            <label for="selectGeneration">
                <select name="selectGeneration" >
                    {% for generation in generations %}
                        <option value="{{ generation.type }}">{{ generation.name }}</option>
                    {% endfor %}
                </select>
            </label>

        </div>
        <div class="h-fit flex flex-row flex-wrap gap-4 pt-4 justify-center pb-10" id="pokedex">

            {% for pokemon in pokemons %}

                {% if loop.index == 1 %}
                    <div class="w-full text-center text-3xl text-white p-6">{{ generations[loop.index-1].name }}</div>
                {% elseif pokemon.generation != pokemons[loop.index0-1].generation %}
                    {% for generation in generations %}
                        {% if generation.type == pokemon.generation %}
                            <div class="w-full text-center text-3xl text-white p-6" id="{{ generation.name }}">{{ generation.name }}</div>
                        {% endif %}
                    {% endfor %}

                {% endif %}

                <div class="border-4 border-gray-400 border-opacity-20 cursor-pointer poke-card flex flex-col max-sm:w-[160px] w-[200px] p-4 justify-center items-center h-full bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 {% if app.request.get('id') == false %}poke-card-user{% endif %}"
                     data-name-fr="{{ pokemon.frenchName|lower }}" data-name-en="{{ pokemon.englishName|lower }}"
                     data-number="{{ pokemon.number }}" data-internal-id="{{ pokemon.id }}"
                     data-shiny="{{ pokemon.isShiny }}"
                     data-pokedex-normal="{% if userPokemons[pokemon.number] is defined %}{{ userPokemons[pokemon.number].normal }}{% else %}0{% endif %}"
                     data-pokedex-shiny="{% if userPokemons[pokemon.number] is defined %}{{ userPokemons[pokemon.number].shiny }}{% else %}0{% endif %}"
                     data-pokedex-lucky="{% if userPokemons[pokemon.number] is defined %}{{ userPokemons[pokemon.number].lucky }}{% else %}0{% endif %}"
                     data-pokedex-threeStars="{% if userPokemons[pokemon.number] is defined %}{{ userPokemons[pokemon.number].threeStars }}{% else %}0{% endif %}"
                >
                    <div class="background max-sm:w-[160px] w-[194px] h-[194px] absolute z-0 opacity-30 rounded-md background-lucky {% if app.request.get('type') != 'lucky' %}hidden{% endif %}"
                         style="background-image: url('{{ asset('images/lucky.jpg') }}');"></div>

                    <img src="{{ asset('images/shiny-icon.png') }}"
                         class="shiny-icon absolute w-[30px] z-20 ml-32 mb-32 {% if app.request.get('type') != 'shiny' %}hidden{% endif %}"
                         alt="Icon shiny">

                    <img src="{{ asset('images/normal/' ~ pokemon.normalPicture) }}"
                         class="z-10 w-fit {% if app.request.get('type') == 'shiny' %}hidden{% endif %} normal-picture"
                         loading="lazy"
                         alt="Normal pictures for pokemons">
                    <img src="{{ asset('images/shiny/' ~ pokemon.shinyPicture) }}"
                         class="z-10 w-fit {% if app.request.get('type') != 'shiny' %}hidden{% endif %} shiny-picture"
                         loading="lazy"
                         alt="Shiny pictures for pokemons">
                    <div class="flex flex-col gap-1 justify-center z-10">
                        <p class="whitespace-nowrap text-sm text-white">
                            #{{ pokemon.number }} {{ pokemon.frenchName }}
                        </p>
                        <p class="whitespace-nowrap text-xs text-center text-slate-300">
                            {{ pokemon.englishName }}
                        </p>
                    </div>
                </div>
            {% endfor %}
            <div class="hidden no-pokemon text-white text-xl flex flex-col items-center mt-24">
                No results found
            </div>

        </div>
    </div>
    <div class="fixed bottom-4 right-4 bg-white rounded-full px-4 py-2 z-20 flex justify-center gap-2 items-center max-lg:px-2">
        <span class="max-lg:hidden">Back to top</span>
        <i class="fa-solid fa-chevron-up"></i>
    </div>

{% endblock %}
