<div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-5 dark:bg-gray-800 dark:border-gray-700 items-center flex flex-col">
    <h2 class="mb-2 text-xl font-medium text-gray-500 dark:text-gray-400 text-center">{{ dex.name }}</h2>
    <div class="flex items-baseline text-gray-900 dark:text-white">
        <span class="text-4xl font-extrabold tracking-tight">{{ dex.caught }}</span>
        <span class="ml-1 text-sm font-normal text-gray-500 dark:text-gray-400">/{{ dex.total }}</span>
        <br>
    </div>
    <div class="flex items-baseline text-gray-900 dark:text-gray-400">
        <span class="text-s tracking-tight">{{ (dex.caught / dex.total * 100)|round(2) }}%</span>
        <br>
    </div>
    {% set color = random_button()  %}

    <div class="flex text-sm">
        <a href="{{ path('show_pokedex', {'type' : dex.type}) }}"
           class="mr-1 bg-gradient-to-r {{ color }} text-white font-bold py-2 px-6 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out mt-10">
            View
        </a>

        <span data-type="{{ dex.type }}" class="button-details cursor-pointer ml-1 bg-gradient-to-r {{ color }} text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out mt-10">
            Details
        </span>
    </div>

    {% include 'partials/modal-pokedex-details.html.twig'  %}
</div>