{% extends 'base.html.twig' %}

{% block body %}
    <div class="h-full p-6 max-sm:pt-2 max-lg:h-fit" id="page-top">
        {% include 'partials/header.html.twig' %}
        <div class="w-1/2 flex flex-col m-auto max-sm:mb-0 mb-4 max-lg:w-full ">
            {% if app.request.get('id') %}
                <h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center">
                    {{ pokedexUsername.username }}'s Pokédex
                </h1>
                <p class="text-center text-white">Last update : {{ lastUpdate|date("m/d/Y H:i:s", "Europe/Paris") }}</p>
                <a href="{{ path('app_trade', {id: pokedexUsername.id}) }}"><p class="text-center mb-5 compare-friends">Compare shiny Pokédex</p></a>
            {% else %}
                <h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center max-sm:hidden">
                    Your Pokédex
                </h1>
            {% endif %}
            <input placeholder="Search for a pokemon..." type="text" autofocus autocomplete="off" spellcheck="false"
                   class="w-full shadow appearance-none border rounded p-3 text-gray-700 leading-tight mb-4 "
                   id="search"
            >
        </div>

        <div class="flex flex-row justify-center items-center max-sm:hidden gap-10 mb-6 max-sm:mb-4 max-lg:gap-4 max-lg:mx-auto max-lg:items-stretch" id="filters">
            <button id="normal"
                    class="bg-gradient-to-r text-white py-2 max-sm:py-2 px-6 max-sm:px-2 rounded border-white {% if app.request.get('type') == 'normal' or app.request.get('type') == '' %}bg-gradient-to-r from-pink-400 to-purple-600 active-filter{% else %}bg-slate-700{% endif %}">
                Normal
            </button>
            <button id="threeStars"
                    class="bg-gradient-to-r text-white py-2 max-sm:py-2 px-6 max-sm:px-2 rounded border-white {% if app.request.get('type') == 'threeStars' %}bg-gradient-to-r from-pink-400 to-purple-600 active-filter{% else %}bg-slate-700{% endif %}">
                3 Stars
            </button>
            <button id="shiny"
                    class="bg-gradient-to-r text-white py-2 max-sm:py-2 px-6 max-sm:px-2 rounded border-white {% if app.request.get('type') == 'shiny' %}bg-gradient-to-r from-pink-400 to-purple-600 active-filter{% else %}bg-slate-700{% endif %}">
                Shiny
            </button>
            <button id="shinyThreeStars"
                    class="bg-gradient-to-r text-white py-2 max-sm:py-2 px-6 max-sm:px-2 rounded border-white {% if app.request.get('type') == 'shinyThreeStars' %}bg-gradient-to-r from-pink-400 to-purple-600 active-filter{% else %}bg-slate-700{% endif %}">
                Shiny 3 Stars
            </button>
            <button id="lucky"
                    class="bg-gradient-to-r text-white py-2 max-sm:py-2 px-6 max-sm:px-2 rounded border-white {% if app.request.get('type') == 'lucky' %}bg-gradient-to-r from-pink-400 to-purple-600 active-filter{% else %}bg-slate-700{% endif %}">
                Lucky
            </button>
            <button id="perfect"
                    class="bg-gradient-to-r text-white py-2 max-sm:py-2 px-6 max-sm:px-2 rounded border-white {% if app.request.get('type') == 'perfect' %}bg-gradient-to-r from-pink-400 to-purple-600 active-filter{% else %}bg-slate-700{% endif %}">
                Perfect
            </button>
            <button id="shadow"
                    class="bg-gradient-to-r text-white py-2 max-sm:py-2 px-6 max-sm:px-2 rounded border-white {% if app.request.get('type') == 'shadow' %}bg-gradient-to-r from-pink-400 to-purple-600 active-filter{% else %}bg-slate-700{% endif %}">
                Shadow
            </button>
            <button id="purified"
                    class="bg-gradient-to-r text-white py-2 max-sm:py-2 px-6 max-sm:px-2 rounded border-white {% if app.request.get('type') == 'purified' %}bg-gradient-to-r from-pink-400 to-purple-600 active-filter{% else %}bg-slate-700{% endif %}">
                Purified
            </button>
        </div>

        <div class="flex justify-center flex-row max-sm:flex-col max-sm:gap-2 gap-10 items-center" id="filters">
            <div class="flex justify-center gap-10 max-sm:gap-5 items-center">
                <label for="only-actual" class="text-white">
                    <input type="checkbox" id="only-actual">
                    Only actual
                </label>

                <label for="hide-caught" class="text-white">
                    <input type="checkbox" id="hide-caught" checked>
                    Hide captured
                </label>
            </div>

            <!-- Select pour les générations, visible uniquement sur desktop -->
            <select name="selectGeneration" id="selectGeneration" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 h-9 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 pl-3 max-sm:hidden">
                {% for generation in generations %}
                    <option value="{{ generation.type }}">{{ generation.name }}</option>
                {% endfor %}
            </select>

            <div class="hidden max-sm:flex max-sm:gap-2 max-sm:justify-between">
                <select id="mobile-filters" class="w-1/2 flex-grow-0 box-border p-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 h-9 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value="normal" {% if app.request.get('type') == 'normal' or app.request.get('type') == '' %}selected{% endif %}>Normal</option>
                    <option value="threeStars" {% if app.request.get('type') == 'threeStars' %}selected{% endif %}>3 Stars</option>
                    <option value="shiny" {% if app.request.get('type') == 'shiny' %}selected{% endif %}>Shiny</option>
                    <option value="shiny" {% if app.request.get('type') == 'shinyThreeStart' %}selected{% endif %}>Shiny 3 Stars</option>
                    <option value="lucky" {% if app.request.get('type') == 'lucky' %}selected{% endif %}>Lucky</option>
                    <option value="lucky" {% if app.request.get('type') == 'perfect' %}selected{% endif %}>Perfect</option>
                    <option value="shadow" {% if app.request.get('type') == 'shadow' %}selected{% endif %}>Shadow</option>
                    <option value="purified" {% if app.request.get('type') == 'purified' %}selected{% endif %}>Purified</option>
                </select>

                <select name="selectGeneration" class="w-1/2 flex-grow-0 box-border p-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 h-9 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    {% for generation in generations %}
                        <option value="{{ generation.type }}">{{ generation.name }}</option>
                    {% endfor %}
                </select>
            </div>

        </div>

        <div class="h-fit flex flex-row flex-wrap gap-4 pt-4 justify-center pb-10 hidden" id="pokedex">

            {% for pokemon in pokemons %}

                {% if loop.index == 1 %}
                    <div id="{{ generations[loop.index-1].type }}" class="w-full text-center text-3xl text-white max-sm:py-1 p-6 generation" >{{ generations[loop.index-1].name }}</div>
                {% elseif pokemon.generation != pokemons[loop.index0-1].generation %}
                    {% for generation in generations %}
                        {% if generation.type == pokemon.generation %}
                            <div class="w-full text-center text-3xl text-white max-sm:py-1 p-6 generation" id="{{ generation.type }}">{{ generation.name }}</div>
                        {% endif %}
                    {% endfor %}

                {% endif %}

                <div class="border-4 border-gray-400 border-opacity-20 cursor-pointer poke-card flex flex-col max-sm:w-[160px] w-[200px] p-2 justify-center items-center h-full bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 poke-card-user {% if pokemon.isActual == false %}pokemon-is-not-actual{% endif %} min-h-[200px]"
                     data-name-fr="{{ pokemon.frenchName|lower }}" data-name-en="{{ pokemon.englishName|lower }}"
                     data-chain-fr="{{ display_chain(pokemon.evolutionChain.id | default(0), evolutionChains, 'fr') }}" data-chain-en="{{ display_chain(pokemon.evolutionChain.id | default(0), evolutionChains, 'en') }}"
                     data-number="{{ pokemon.number }}" data-internal-id="{{ pokemon.id }}" data-shiny="{{ pokemon.isShiny }}" data-lucky="{{ pokemon.isLucky }}" data-shadow="{{ pokemon.isShadow }}" data-purified="{{ pokemon.isPurified }}"
                     data-pokedex-normal="{% if userPokemons[pokemon.id] is defined %}{{ userPokemons[pokemon.id].normal }}{% else %}0{% endif %}"
                     data-pokedex-shiny="{% if userPokemons[pokemon.id] is defined %}{{ userPokemons[pokemon.id].shiny }}{% else %}0{% endif %}"
                     data-pokedex-lucky="{% if userPokemons[pokemon.id] is defined %}{{ userPokemons[pokemon.id].lucky }}{% else %}0{% endif %}"
                     data-pokedex-threeStars="{% if userPokemons[pokemon.id] is defined %}{{ userPokemons[pokemon.id].threeStars }}{% else %}0{% endif %}"
                     data-pokedex-shadow="{% if userPokemons[pokemon.id] is defined %}{{ userPokemons[pokemon.id].shadow }}{% else %}0{% endif %}"
                     data-pokedex-purified="{% if userPokemons[pokemon.id] is defined %}{{ userPokemons[pokemon.id].purified }}{% else %}0{% endif %}"
                     data-pokedex-shinyThreeStars="{% if userPokemons[pokemon.id] is defined %}{{ userPokemons[pokemon.id].shinyThreeStars }}{% else %}0{% endif %}"
                     data-pokedex-perfect="{% if userPokemons[pokemon.id] is defined %}{{ userPokemons[pokemon.id].perfect }}{% else %}0{% endif %}"
                     data-generation="{{ pokemon.generation }}"
                >
                    <div class="background max-sm:w-[160px] w-[194px] h-[194px] absolute z-0 opacity-30 rounded-md background-lucky {% if app.request.get('type') != 'lucky' %}hidden{% endif %}"
                         style="background-image: url('{{ asset('images/lucky.jpg') }}');"></div>

                    <img src="{{ asset('images/shiny-icon.png') }}"
                         class="shiny-icon absolute w-[30px] z-20 ml-[6rem] md:ml-32 mb-32 mt-[-40px] {% if app.request.get('type') != 'shiny' %}hidden{% endif %}"
                         alt="Icon shiny">

                    <img src="{{ asset('images/purified-icon.png') }}"
                         class="purified-icon absolute w-[30px] z-20 ml-[6rem] md:ml-32 mb-32 {% if app.request.get('type') != 'purified' %}hidden{% endif %}"
                         alt="Icon purified">

                    <img src="{{ asset('images/shadow-icon.png') }}"
                         class="shadow-icon absolute w-[30px] z-20 ml-[6rem] md:ml-32 mb-32 {% if app.request.get('type') != 'shadow' %}hidden{% endif %}"
                         alt="Icon shadow">

                    <img src="{{ asset('images/normal/' ~ pokemon.normalPicture) }}"
                         class="z-10 w-fit {% if app.request.get('type') == 'shiny' %}hidden{% endif %} normal-picture max-w-[120px]"
                         loading="lazy"
                         alt="Normal pictures for pokemons">

                    {% if pokemon.isShiny or pokemon.isShinyThreeStars %}
                    <img src="{{ asset('images/shiny/' ~ pokemon.shinyPicture) }}"
                         class="z-10 w-fit {% if app.request.get('type') != 'shiny' %}hidden{% endif %} shiny-picture max-w-[120px]"
                         loading="lazy"
                         alt="Shiny #{{ pokemon.number }}">
                    {% endif %}
                    <div class="flex flex-col justify-center z-10">
                        <p class="whitespace-nowrap text-sm text-white text-center">
                            <span class="text-xs">#{{ pokemon.number }}</span>
                        </p>
                        <p class="whitespace-nowrap text-sm  text-center{% if pokemon.isActual %} text-bg-primary {% else %} text-white {% endif %}">
                            {{ pokemon.frenchName }}
                        </p>
                        <p class="whitespace-nowrap text-xs text-center text-slate-300">
                            {{ pokemon.englishName }}
                        </p>
                        <div class="{% if app.request.get('type') != 'shiny' %}hidden{% endif %} custom-number-input h-8 w-32 my-2" onclick="event.stopPropagation()">
                            <div class="flex flex-row h-8 w-full rounded-lg relative bg-transparent mt-1">
                                <button data-action="decrement" class="bg-slate-700 text-white hover:bg-slate-600 h-full w-20 rounded-l cursor-pointer outline-none">
                                    <span class="m-auto text-2xl font-thin">−</span>
                                </button>
                                <input disabled onclick="event.stopPropagation()" type="number" class="custom-input-number outline-none focus:outline-none text-center w-full bg-slate-600 text-md md:text-basecursor-default flex items-center text-white"
                                       name="custom-input-number" value="{% if userPokemons[pokemon.id] is defined and userPokemons[pokemon.id]['numberShiny'] is not null %}{{ userPokemons[pokemon.id]['numberShiny'] }}{% else %}0{% endif %}"/>
                                <button data-action="increment" class="bg-slate-700 text-white hover:bg-slate-600 h-full w-20 rounded-r cursor-pointer">
                                    <span class="m-auto text-xl font-thin">+</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="hidden no-pokemon text-white text-xl flex-col items-center mt-24">
                No results found
            </div>

        </div>
    </div>

    <div class="fixed bottom-4 right-4 bg-white rounded-full px-4 py-2 z-20 flex justify-center gap-2 items-center max-lg:px-2 cursor-pointer" id="scrollToTop">
        <span class="max-lg:hidden">Back to top</span>
        <i class="fa-solid fa-chevron-up"></i>
    </div>

{% endblock %}
