{% extends 'base.html.twig' %}

{% block body %}
    <div class="h-full p-6">
        {% include 'partials/header.html.twig' %}

        <div class="w-1/2 flex flex-col m-auto mb-4 mt-12">
            {% if app.request.get('id')%}
            <h1 class="text-center text-white text-3xl mb-10"> {{ pokedexUsername }}'s Pokedex</h1>
            {% else %}
            <h1 class="text-center text-white text-3xl mb-10">Your Pokédex</h1>
            {% endif %}
            <input placeholder="Search for a pokemon..." type="text" autofocus autocomplete="off" spellcheck="false"
                   class="w-full shadow appearance-none border rounded p-3 text-gray-700 leading-tight mb-4"
                   id="search"
            >
        </div>

        <div class="flex flex-row justify-center gap-10 mb-6" id="filters">
            <button id="normal"
                    class="bg-gradient-to-r text-white py-2 px-6 rounded border-white {% if app.request.get('type') == 'normal' %}bg-gradient-to-r from-pink-400 to-purple-600 active-filter{% else %}bg-slate-700{% endif %}">
                Normal
            </button>
            <button id="shiny"
                    class="bg-gradient-to-r text-white py-2 px-6 rounded border-white {% if app.request.get('type') == 'shiny' %}bg-gradient-to-r from-pink-400 to-purple-600 active-filter{% else %}bg-slate-700{% endif %}">
                Shiny
            </button>
            <button id="lucky"
                    class="bg-gradient-to-r text-white py-2 px-6 rounded border-white {% if app.request.get('type') == 'lucky' %}bg-gradient-to-r from-pink-400 to-purple-600 active-filter{% else %}bg-slate-700{% endif %}">
                Lucky
            </button>
            <button id="threeStars"
                    class="bg-gradient-to-r text-white py-2 px-6 rounded border-white {% if app.request.get('type') == 'threeStars' %}bg-gradient-to-r from-pink-400 to-purple-600 active-filter{% else %}bg-slate-700{% endif %}">
                3 Stars
            </button>
        </div>

        <div class="h-fit flex flex-row flex-wrap gap-4 justify-center p-6" id="pokedex">
            {% for pokemon in pokemons %}
                <div class="poke-card flex flex-col w-[200px] p-4 justify-center items-center h-full bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10"
                     data-name-fr="{{ pokemon.frenchName|lower }}" data-name-en="{{ pokemon.englishName|lower }}"
                     data-number="{{ pokemon.number }}" data-shiny="{{ pokemon.isShiny }}"
                     
                     data-pokedex-normal="{% if userPokemons[pokemon.number] is defined %}{{ userPokemons[pokemon.number].normal }}{% else %}0{% endif %}"
                     data-pokedex-shiny="{% if userPokemons[pokemon.number] is defined %}{{ userPokemons[pokemon.number].shiny }}{% else %}0{% endif %}"
                     data-pokedex-lucky="{% if userPokemons[pokemon.number] is defined %}{{ userPokemons[pokemon.number].lucky }}{% else %}0{% endif %}"
                     data-pokedex-three-stars="{% if userPokemons[pokemon.number] is defined %}{{ userPokemons[pokemon.number].threeStars }}{% else %}0{% endif %}"
                >
                    <div class="background w-full h-full absolute z-0 opacity-30 rounded-md background-lucky {% if app.request.get('type') != 'lucky' %}hidden{% endif %}"
                         style="background-image: url('{{ asset('images/lucky.jpg') }}');"></div>

                    <img src="{{ asset('images/shiny-icon.png') }}"
                         class="shiny-icon absolute w-[30px] z-20 right-5 top-5 {% if app.request.get('type') != 'shiny' %}hidden{% endif %}">

                    <img src="{{ asset('images/normal/' ~ pokemon.number ~ '.png') }}" alt=""
                         class="z-10 w-fit {% if app.request.get('type') == 'shiny' %}hidden{% endif %} normal-picture"
                         loading="lazy">
                    <img src="{{ asset('images/shiny/' ~ pokemon.number ~ '.png') }}" alt=""
                         class="z-10 w-fit {% if app.request.get('type') != 'shiny' %}hidden{% endif %} shiny-picture"
                         loading="lazy">
                    <div class="flex flex-col gap-1 justify-center z-10">
                        <p class="whitespace-nowrap text-sm text-white">
                            #{{ pokemon.number }} {{ pokemon.frenchName }}
                        </p>
                        <p class="whitespace-nowrap text-xs text-center text-slate-300">
                            {{ pokemon.englishName }}
                        </p>
                    </div>
                </div>
            {% endfor %}
            <div class="hidden no-pokemon text-white text-xl flex flex-col items-center mt-24">
                No results found
            </div>
        </div>
    </div>

{% endblock %}
