{% extends 'base.html.twig' %}

{% block body %}
    <div class="h-full p-6">
        {% include 'partials/header.html.twig' %}

        <div class="w-1/2 flex m-auto mb-4 mt-12">
            <input placeholder="Search for a pokemon..." type="text" autofocus autocomplete="off" spellcheck="false"
                   class="w-full shadow appearance-none border rounded p-3 text-gray-700 leading-tight mb-4"
                   id="search"
            >
        </div>

        <div class="flex flex-row justify-center gap-10 mb-6" id="filters">
            <button class="bg-gradient-to-r text-white py-2 px-6 rounded border-white {% if app.request.get('type') == 'normal' %}bg-gradient-to-r from-pink-400 to-purple-600{% else %}bg-slate-700{% endif %}">
                Normal
            </button>
            <button id="shiny" class="bg-gradient-to-r text-white py-2 px-6 rounded border-white {% if app.request.get('type') == 'shiny' %}bg-gradient-to-r from-pink-400 to-purple-600{% else %}bg-slate-700{% endif %}">
                Shiny
            </button>
            <button class="bg-gradient-to-r text-white py-2 px-6 rounded border-white {% if app.request.get('type') == 'lucky' %}bg-gradient-to-r from-pink-400 to-purple-600{% else %}bg-slate-700{% endif %}">
                Lucky
            </button>
            <button class="bg-gradient-to-r text-white py-2 px-6 rounded border-white {% if app.request.get('type') == 'threeStars' %}bg-gradient-to-r from-pink-400 to-purple-600{% else %}bg-slate-700{% endif %}">
                3 Stars
            </button>
        </div>

        <div class="h-fit flex flex-row flex-wrap  gap-4 justify-center p-6" id="pokedex">
            {% for pokemon in pokemons %}
                <div class="poke-card flex flex-col w-[200px] p-4 justify-center items-center h-full bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10"
                data-name-fr="{{ pokemon.frenchName|lower }}" data-name-en="{{ pokemon.englishName|lower }}" data-number="{{ pokemon.number }}" data-shiny="{{ pokemon.isShiny }}">
                    <img src="{{ asset('images/normal/' ~ pokemon.number ~ '.png') }}" alt="" class="w-fit {% if app.request.get('type') == 'shiny' %}hidden{% endif%} normal-picture" loading="lazy">
                    <img src="{{ asset('images/shiny/' ~ pokemon.number ~ '.png') }}" alt="" class="w-fit {% if app.request.get('type') != 'shiny' %}hidden{% endif%} shiny-picture" loading="lazy">
                    <div class="flex flex-row gap-1 justify-center">
                        <p class="whitespace-nowrap text-sm white text-white">#{{ pokemon.number }} {{ pokemon.frenchName }}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
