<div class="w-full p-0 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700 items-center flex flex-col">
    <h2 class="mb-2 text-xl font-medium text-gray-500 dark:text-gray-400 text-center">{{ dex.name }}</h2>
    <div class="flex items-baseline text-gray-900 dark:text-white">
        <span class="text-5xl font-extrabold tracking-tight">{{ dex.caught }}</span>
        <span class="ml-1 text-xl font-normal text-gray-500 dark:text-gray-400">/{{ dex.total }}</span>
        <br>
    </div>
    <div class="flex items-baseline text-gray-900 dark:text-gray-400">
        <span class="text-s tracking-tight">{{ (dex.caught / dex.total * 100)|round(2) }}%</span>
        <br>
    </div>
    <a href="{{ path('show_pokedex', {'type' : dex.type}) }}"
       class="bg-gradient-to-r {{ random_button() }} text-white font-bold py-2 px-12 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out mt-10">
        View
    </a>
</div>