{% extends 'base.html.twig' %}

{% block body %}
    <div class="h-full p-6 max-sm:pt-2 max-lg:h-fit">
        {% include 'partials/header.html.twig' %}
        <div class="flex flex-row justify-around mt-10">
            <div class="flex flex-col">
                <p class="text-center text-2xl">{{ app.user }}</p>
                <div id="user_pokemons" class="grid grid-cols-3 content-start max-lg:grid-cols-1">

                    {% for pokemon in userPokemons %}
                        <div class="border-4 my-4 mx-0 md:mx-4 border-gray-400 border-opacity-20 cursor-pointer poke-card flex flex-col max-sm:w-[160px] w-[200px] p-2 justify-center max-lg:p-1 items-center h-fit bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 poke-card-user">

                            <img src="{{ asset('images/shiny-icon.png') }}"
                                 class="shiny-icon absolute w-[30px] z-20 ml-[6rem] md:ml-32 mb-32 mt-[-40px]"
                                 alt="Icon shiny">

                            <img src="{{ asset('images/shiny/' ~ pokemon.shiny_picture) }}"
                                 class="z-10 w-fit shiny-picture"
                                 loading="lazy"
                                 alt="Shiny pictures for pokemons">

                            <div class="flex flex-col justify-center z-10">
                                <p class="whitespace-nowrap text-sm text-white text-center">
                                    <span class="text-xs">#{{ pokemon.number }}</span>
                                </p>
                                <p class="whitespace-nowrap text-sm  text-center{% if pokemon.is_actual %} text-bg-primary {% else %} text-white {% endif %}">
                                    {{ pokemon.french_name }}
                                </p>
                                <p class="whitespace-nowrap text-xs text-center text-slate-300">
                                    {{ pokemon.english_name }}
                                </p>
                            </div>
                            <p class="mt-2 items-end"> X {{ pokemon.number_shiny }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="flex flex-col">
                <p class="text-center text-2xl">{{ friend }}</p>
                <div id="friend_pokemon" class="grid grid-cols-3 max-lg:grid-cols-1">

                    {% for pokemon in friendPokemons %}
                        <div class="border-4 my-4 mx-0 md:mx-4 border-gray-400 border-opacity-20 cursor-pointer poke-card flex flex-col max-sm:w-[160px] w-[200px] p-2 max-lg:p-1 justify-center items-center h-fit bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 poke-card-user">

                            <img src="{{ asset('images/shiny-icon.png') }}"
                                 class="shiny-icon absolute w-[30px] z-20 ml-[6rem] md:ml-32 mb-32 mt-[-40px]"
                                 alt="Icon shiny">

                            <img src="{{ asset('images/shiny/' ~ pokemon.shiny_picture) }}"
                                 class="z-10 w-fit shiny-picture"
                                 loading="lazy"
                                 alt="Shiny pictures for pokemons">

                            <div class="flex flex-col justify-center z-10">
                                <p class="whitespace-nowrap text-sm text-white text-center">
                                    <span class="text-xs">#{{ pokemon.number }}</span>
                                </p>
                                <p class="whitespace-nowrap text-sm  text-center{% if pokemon.is_actual %} text-bg-primary {% else %} text-white {% endif %}">
                                    {{ pokemon.french_name }}
                                </p>
                                <p class="whitespace-nowrap text-xs text-center text-slate-300">
                                    {{ pokemon.english_name }}
                                </p>
                            </div>
                            <p class="mt-2 items-end"> X {{ pokemon.number_shiny }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
