{% extends 'base.html.twig' %}

{% block title %}Go Swap - Log in{% endblock %}

{% block body %}
    <div class="h-full container mx-auto flex flex-wrap flex-col items-center mb-6 max-lg:w-full">
        <div class="h-full flex items-center justify-center flex-col max-lg:p-4 max-lg:w-full">
            <form method="post"
                  class="flex items-center flex-col justify-center bg-gray-900 opacity-75 w-full shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4 max-lg:w-full">

                <a class="flex items-center text-indigo-400 no-underline hover:no-underline font-bold text-2xl lg:text-4xl mb-8"
                   href="{{ path('app_index') }}">
                    <img src="{{ asset('images/logo.png') }}" style="width:70px;" alt="Logo Go Swap"><span
                            class="ml-3 bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">Go Swap</span>
                </a>

                {% if error %}
                    <div class="mb-4 text-pink-400">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <input placeholder="Username" type="text" value="{{ last_username }}" name="username" id="inputUsername"
                       required autofocus autocomplete="off" spellcheck="false"
                       class="w-96 shadow appearance-none border rounded p-3 text-gray-700 leading-tight mb-4 max-lg:w-full">
                <input placeholder="Password" type="password" name="password" id="inputPassword"
                       autocomplete="current-password" required
                       class="w-96 shadow appearance-none border rounded p-3 text-gray-700 leading-tight mb-4 max-lg:w-full">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="checkbox mb-8">
                    <label>
                        <input type="checkbox" name="_remember_me" checked> Remember me
                    </label>
                </div>

                <button class="bg-gradient-to-r from-purple-800 to-green-500 hover:from-pink-500 hover:to-green-500 text-white font-bold py-2 px-12 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
                        type="submit">
                    Sign In
                </button>
                <a href="{{ path('app_register') }}" class="mt-2 text-xs">Create an account</a>
            </form>
        </div>
    </div>
{% endblock %}
