<div class="w-full container mx-auto">
    <div class="w-full flex items-center justify-between max-lg:gap-8">
        <a class="flex items-center text-indigo-400 no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
           href="{{ path('app_index') }}"
           aria-label="Back to Home Page">
            <img src="{{ asset('images/logo.png') }}" style="width:70px;" alt="Logo Go Swap"><span
                    class="ml-3 bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500 max-lg:hidden">Go Swap</span>
        </a>

        <div class="flex justify-center content-center items-center max-lg:justify-center max-lg:gap-4 ">
            <div class="mr-3">
                <a href="{{ path('app_pvp_index') }}" class="flex flex-row">
                    <img src="{{ asset('images/pvp/lc.png') }}" class="w-[30px]">
                    <img src="{{ asset('images/pvp/gl.png') }}" class="w-[30px]">
                    <img src="{{ asset('images/pvp/ul.png') }}" class="w-[30px]">
                </a>
            </div>
            {{ render(controller('App\\Controller\\AppController::users')) }}
            <a class="inline-block text-blue-300 no-underline hover:text-pink-500 hover:text-underline text-center h-10 p-2 md:h-auto md:p-4 transform hover:scale-125 duration-300 ease-in-out"
               href="{{ path('app_logout') }}"
               aria-label="Logout">
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>
        </div>

    </div>
</div>


