{% extends 'base.html.twig' %}

{% block body %}
    <div class="h-full p-6 max-sm:pt-2 max-lg:h-fit" id="pvp-types">
        {% include 'partials/header.html.twig' %}

        {% include 'pvp/partials/navbar.html.twig' with {
            'links': [
                {'name': 'PvP', 'url': path('app_pvp_index')},
                {'name': 'Quizzes', 'url': '#'},
            ]
        } %}

        <div class="text-center mt-8">
            {% set color = random_button() %}
            <a href="{{ path('app_pvp_quiz_start') }}"
               class="bg-gradient-to-r {{ color }} text-white font-bold py-1 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out">
                Start new quiz
            </a>
        </div>

        <div class="flex justify-center flex-row max-sm:flex-col max-sm:gap-2 mt-10 gap-10 items-center">
            <table class="table-auto border-collapse text-sm text-center w-3/4 mb-8" id="table-pvp">
                <thead>
                    <tr class="text-gray-100">
                    <th class="px-4 py-2 border border-gray-500 w-1/4">Number</th>
                    <th class="px-4 py-2 border border-gray-500 w-1/4">Grade</th>
                    <th class="px-4 py-2 border border-gray-500 w-1/4">Ended at</th>
                    <th class="px-4 py-2 border border-gray-500 w-1/4">Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for quiz in quizzes %}
                        <tr class="text-gray-100 hover:bg-gray-500">
                            <td class="px-4 py-2 border border-gray-500">#{{ quiz.id }}</td>
                            <td class="px-4 py-2 border border-gray-500">
                                {% if quiz.grade is not null %}
                                    <span class="font-bold {{ grade_color(quiz.grade) }}">{{ quiz.grade }}%</span>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="px-4 py-2 border border-gray-500">
                                {% if quiz.grade is not null %}
                                    {{ quiz.endedAt | date('Y/m/d H:i:s') }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="px-4 py-2 border border-gray-500">
                                {% set color = random_button() %}
                                {% if quiz.grade is not null %}
                                    <a href="{{ path('app_pvp_quiz_result', { 'id': quiz.id }) }}"
                                       class="bg-gradient-to-r {{ color }} text-white font-bold py-1 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out">
                                        Results
                                    </a>
                                {% else %}
                                    <a href="{{ path('app_pvp_quiz', { 'id': quiz.id }) }}"
                                       class="bg-gradient-to-r {{ color }} text-white font-bold py-1 px-2 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out">
                                        Continue
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}