<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}PoGO Trade{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/icon.png') }}">
        <link rel="apple-touch-icon" href="{{ asset('images/icon.png') }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <style>
            @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

            html {
                font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            }
        </style>

    </head>
    <body class="leading-normal tracking-normal text-indigo-400 m-6 bg-cover bg-fixed" style="background-image: url('{{ asset('images/header.png') }}');">
        {% block body %}{% endblock %}
    </body>
</html>
