<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>{% block title %}Go Swap{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/icon.png') }}">
        <link rel="apple-touch-icon" href="{{ asset('images/icon.png') }}">
        <meta name="description" content="Swap, unlock & complete">
        <meta name="theme-color" content="#1f2d3d" />
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="Go Swap">
        <meta name="twitter:description" content="Swap, unlock & complete">
        <meta name="twitter:creator" content="@pgrimaud">
        <meta name="twitter:image" content="{{ asset('images/icon.png') }}">
        <meta property="og:title" content="Go Swap" />
        <meta property="og:description" content="Swap, unlock & complete." />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://go-swap.com" />
        <meta property="og:image" content="{{ asset('images/icon.png') }}" />
        <meta property="og:locale" content="fr_FR" />
        <meta property="og:site_name" content="Go Swap" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <style>
            @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
            html {
                font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            }
        </style>
    </head>
    <body class="leading-normal tracking-normal text-indigo-400 h-screen bg-cover bg-fixed bg-[#141414]" style="background-image: url('{{ asset('images/header.png') }}');">
        {% block body %}{% endblock %}
        <script src="https://kit.fontawesome.com/084159f03b.js" crossorigin="anonymous" rel="preload"></script>
    </body>
</html>
